<div id="main">


    <div id="scenes">
        <p class="div-title">Scenes</p>
        <div id="scene_list"></div>
    </div>



    <div id="marking-area">
        <p class="div-title-small" id="marking_title"> 
            <span>Marking</span>
            <img src="./img/question-mark.png"/>
        </p>
        <div id="big_thumbnail"></div>
    </div>

    <div id="selected-entities">
        <p class="div-title-small" id="selected_title"> 
            <span>Selected Persons/Objects</span>
            <img src="./img/question-mark.png"/>
        </p>
        <div id="boxes">
            <div id="recycle_bin"><img src="./img/question-mark.png"/></div>
        </div>
    </div>


    <div id="captures">
        <div class="captures-title">
            <div class="div-title-small">
                <span id="thumbnails_title">Thumbnails</span>
                <img src="./img/question-mark.png"/>
                <div id="progress_bar">
                    <!--<h5 class="loading-text">Loading frame <span id="load_start"></span> out of <span id="load_total"></span></h5>-->
                    <div class="progress">
                        <div class="bar"></div>
                    </div>
                </div>
            </div>
        </div>

        <div id="thumbnails"></div>
    </div>

    <div id="clusters">
        <p class="div-title">
            <span>Clusters</span>
            <button id="create_cluster">Create new cluster</button>
        </p>
        <div id="box_clusters"></div>
    </div>


</div>
