<div id="new-cluster">
    <div class="new-cluster-header">
        <h3 class="new-cluster-title">Type the new cluster name</h3>
    </div>
    <div class="new-cluster-body">
        <p class="new-cluster-text-field">Name: <input id="new-cluster-name" type="text"/><br/></p>
    </div>
    <div class="new-cluster-footer">
        <button id="new_cluster_cancel" type="button" class="btn">Cancel</button>
        <button id="new_cluster_send" type="button" class="btn btn-primary">Send Data!</button>
    </div>
</div>
